<% provide(:title, 'Contact Us') %>

<body>
    <h1>Contact Us</h1>
    <p>Email: anthony.wijnen@gmail.com</p>
    <p>Cell: +32.474.972.860</p>

    <p><strong>MICHEL is een kleine POT </strong><em>zak</em>!</p>
</body>