<body>
    <h1>Sample App</h1>
    <p> This is the home page for the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>

    <p><strong>MICHEL is een kleine POT </strong><em>zak</em>!</p>
</body>